<section id="nav-section">
<div class="btn-group btn-group-justified" role="group">
<% {'breakfast' => 'Breakfast', 'lunch' => 'Lunch', 'dinner' => 'Dinner', 'drink' => 'Drinks'}.each do |key, value| %>

	<% if params[:section] == key %>
		<%= link_to value, root_path(:section => key, :sort => params[:sort]), class: 'btn btn-primary' %>
	<% else %>
		<%= link_to value, root_path(:section => key, :sort => params[:sort]), class: 'btn btn-secondary' %>
	<% end %>

<% end %>
</div>
<br/>
<div class="btn-group btn-group-justified" role="group">
<% {'alphabetical' => 'Alphabetical', 'low2high' => 'Price Low to High', 'high2low' => 'Price High to Low'}.each do |key, value| %>

	<% if params[:sort] == key %>
		<%= link_to value, root_path(:sort => key, :section => params[:section]), class: 'btn btn-primary' %>
	<% else %>
		<%= link_to value, root_path(:sort => key, :section => params[:section]), class: 'btn btn-secondary' %>
	<% end %>

<% end %>
</div>
</section>

<section id="food-section">
	<% i = 0 %>
	<% @foods.each do |f| %>
		<div class="food-item">
			<% i = i + 1 %>
			<p><%=i%>. <%= link_to f.name, f %> </p>
			<p> Price: <%= f.price %><span> VND</span></p>
			<p> Section: <%= f.section %></p>
			<img src="<%=f.image%>">
		</div>
	<% end %>
</section>