<p id="notice"><%= notice %></p>

<p>
  <strong>Food:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= (@food.price + 20000).to_s %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Ordered at:</strong>
  <%= @order.created_at %>
</p>